body{
    background-color: #e1e8ee;
}
.card{
    background-color: #dfe6eb;
    margin-top: 1vh;
}
#form-simu{
    margin-top: 1vh;
}
.navbar {
    margin-top: 0.5vh;
    margin-left: 3vh;
    margin-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
} 